# Exclude all
*

# Allow git files
!.gitignore
!.gitkeep
!.gitattributes
!.github/**/*
!.pre-commit-config.yaml
!.codespellrc

# Allow documentation files
!README.md
!CODEOWNERS
!LICENSE
!CODE_OF_CONDUCT.md

# Allow Nix files
!.envrc
!flake.nix
!flake.lock

# Allow Specific misc. files
!justfile
!k3d.yaml
!.yamllint

# Allow Helm files
!Chart.yaml
!Chart.lock
!values.yaml
!.helmignore
!helmfile*.yaml

# Include all yaml and tpl files recursively
!**/*.yaml
!**/*.tpl
!**/NOTES.txt

# Recursively include all files in the following directories
!*/
