# Exclude all
*

# Allow git files
!.gitignore
!.gitkeep
!.gitattributes

# Allow documentation files
!README.md
!CODEOWNERS
!LICENSE

# Allow Nix files
!.envrc
!flake.nix
!flake.lock

# Allow Specific misc. files
!justfile
!k3d.yaml

# Allow Helm files
!Chart.yaml
!Chart.lock
!values.yaml
!.helmignore
!helmfile*.yaml

# Include all yaml and tpl files recursively
!**/*.yaml
!**/*.tpl
!**/NOTES.txt

# Recursively include all files in the following directorie
!*/
